In [1]:
import pandas as pd

In [52]:
ratings = pd.read_csv('ratings.csv')

## Задание 1
Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [55]:
ratings.head()

   userId  movieId  rating   timestamp            class
0       1      296     5.0  1147880044  Высокий рейтинг
1       1      306     3.5  1147868817  Средний рейтинг
2       1      307     5.0  1147868828  Высокий рейтинг
3       1      665     5.0  1147878820  Высокий рейтинг
4       1      899     3.5  1147868510  Средний рейтинг

In [54]:
def sort(classy):
    if classy == 4.5 or classy == 5:
        return 'Высокий рейтинг'
    elif classy < 2:
        return 'Низкий рейтинг'
    else:
        return 'Средний рейтинг'

ratings['class'] = ratings['rating'].apply(sort)

## Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1
2
3
4
5
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [56]:
keywords = pd.read_csv('keywords.csv')

In [57]:
centr = ['москва', 'тула', 'ярославль']
north_west = ['петербург', 'псков', 'мурманск']
far_east = ['владивосток', 'сахалин', 'хабаровск'] 

def region(text):
    for i in centr:
        if i in text:
            return 'Центр'
    for i in north_west:
        if i in text:
            return 'Северо-Запад'
    for i in far_east:
        if i in text:
            return 'Дальний Восток'
    return 'undefined'
    
    
keywords['region'] = keywords['keyword'].apply(region)

In [58]:
a = 'сахалин'
keywords[(keywords['keyword'] == a)]

       keyword  shows          region
21445  сахалин  14494  Дальний Восток

In [62]:
# def region_2(text):
#     if text.isin(centr):
#         return 'Центр'
#     elif text.isin(north_west):
#         return 'Северо-Запад'
#     elif text.isin(far_east):
#         return 'Дальний Восток'
#     else:
#         return 'undefined'
    
# keywords['region_2'] = keywords['keyword'].apply(region_2)

## Задание 3
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [63]:
ratings.head()

   userId  movieId  rating   timestamp            class
0       1      296     5.0  1147880044  Высокий рейтинг
1       1      306     3.5  1147868817  Средний рейтинг
2       1      307     5.0  1147868828  Высокий рейтинг
3       1      665     5.0  1147878820  Высокий рейтинг
4       1      899     3.5  1147868510  Средний рейтинг