## Задание 1

In [42]:
import pandas as pd

In [43]:
ratings = pd.read_csv('ratings.csv')

In [44]:
movies = pd.read_csv('movies.csv')

In [45]:
# Сортируем данные по оценке = 5, далее группируем по ID фильма, считаем количество данных оценок и сортируем от большего к меньшему
ratings_sorted = ratings.query(f'rating == {5}').groupby('movieId').count().sort_values('rating', ascending = False)

In [48]:
movie_joined = ratings_sorted.merge(movies, on='movieId', how='left')
print('Фильм с наибольшим количетсвом оценок "5" представлен в таблице')
movie_joined.head(1)

Фильм с наибольшим количетсвом оценок "5" представлен в таблице

,movieId,userId,rating,timestamp,title,genres
0,318,39553,39553,39553,"Shawshank Redemption, The (1994)",Crime|Drama

## Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [79]:
power = pd.read_csv('power.csv')
power.head()

# накладываем все необходимые фильтры и ищем сумму
power_pribaltic = power[((power['country'] == 'Lithuania') | (power['country'] == 'Latvia') | (power['country'] == 'Estonia')) & ((power['year'] >= 2005) & (power['year'] <= 2010)) & ((power['category'] == 4) | (power['category'] == 12) | (power['category'] == 12)) & (power['quantity'] >= 0)]
sum_power_pribaltic = power_pribaltic['quantity'].sum()
print(f'Потребление стран прибалтики = {sum_power_pribaltic}')

Потребление стран прибалтики = 6372.0

In [80]:
power_pribaltic.describe()

              year    quantity    category
count   154.000000  154.000000  154.000000
mean   2007.500000   41.376623    8.727273
std       1.530731   86.184866    3.946162
min    2005.000000    0.000000    4.000000
25%    2006.000000    1.000000    4.000000
50%    2007.500000    1.500000   12.000000
75%    2009.000000   17.500000   12.000000
max    2010.000000  378.000000   12.000000

## Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

In [92]:
url = 'https://www.finanz.ru/aktsii/realnom-vremeni-spisok/rts'

In [93]:
df = pd.read_html(url, attrs = {'class': 'quote_list'}, encoding = 'utf-8')

In [105]:
df

[    Unnamed: 0  \
 0          NaN
 1          NaN
 2          NaN
 3          NaN
 4          NaN
 5          NaN
 6          NaN
 7          NaN
 8          NaN
 9          NaN
 10         NaN
 11         NaN
 12         NaN
 13         NaN
 14         NaN
 15         NaN
 16         NaN
 17         NaN
 18         NaN
 19         NaN
 20         NaN
 21         NaN
 22         NaN
 23         NaN
 24         NaN
 25         NaN
 26         NaN
 27         NaN
 28         NaN
 29         NaN
 30         NaN
 31         NaN
 32         NaN

    Имя  function __handleSortingClick(componentName, fieldName, sortOrder) {  $.ajax({  url: "/Ajax/IndexShareListForRealtime/RTS",  type: "post",  data: "orderBy=" + componentName + ":" + fieldName + ":" + sortOrder,  success: function (v, x) {  $('#index-list-container').html(v);  try { trackPI(); } catch (e) { }  },  error: function () {  }  });  }  \
 0                         Aeroflot - Russian Airlines
 1                                              ALROSA
 2                                        Federal Grid
 3                                        GAZPROM PJSC
 4                                           INTER RAO
 5                                        JSFC Sistema
 6                                                 LSR
 7                                  LUKOIL Oil Company
 8                                              Magnit
 9                     Magnitogorsk Iron & Steel Works
 10                     Mobile TeleSystems (Spons ADRs
 11                          Moscow Exchange MICEX-RTS
 12                                 Norilsk Nickel JSC
 13                                            NOVATEK
 14                                  Novolipetsk Steel
 15                                           Phosagro
 16                                                PIK
 17                                          Polymetal
 18                                Rosneft Oil Company
 19                                            ROSSETI
 20                                    Rostelecom PJSC
 21                            RusHydro (Federal Hydro
 22                                           Sberbank
 23                                      Sberbank Pref
 24                                          Severstal
 25                                     Surgutneftegas
 26                                Surgutneftegas Pref
 27                                       TATNEFT PJSC
 28                                       TATNEFT Pref
 29                                     Transneft Pref
 30                              Unipro (ex EON Russia
 31                                           VTB Bank
 32                                             Yandex

             ISIN Пред. закр.   Посл. зн.              Объём        %    +/-  \
 0   RU0009062285        7270        7210   1 345 128 269,00  -0,83 %    -60
 1   RU0007252813        9295        9195   1 208 786 589,00  -1,08 %   -100
 2   RU000A0JPNN9         020         020     150 585 848,00   0,55 %      0
 3   RU0007661625       19000       19032   9 218 713 918,00   0,17 %     32
 4   RU000A0JPNM1         534         538   3 190 912 499,00   0,73 %      4
 5   RU000A0DQZE3        2920        2873   2 905 732 708,00  -1,61 %    -47
 6   RU000A0JPFP0       89580       88700      53 905 368,00  -0,98 %   -880
 7   RU0009024277    4 994,00    5 033,50   7 407 309 394,00   0,79 %   3950
 8   RU000A0JKQU8    5 040,50    5 382,50   6 803 969 840,00   6,79 %  34200
 9   RU0009084396        4742        4720   1 570 038 402,00  -0,46 %    -22
 10  RU0007775219       31805       32235   2 270 966 532,00   1,35 %    430
 11  RU000A0JR4A1       15900       16351   2 661 937 807,00   2,84 %    451
 12  RU0007288411   22 842,00   23 230,00   5 590 205 326,00   1,70 %  38800
 13  RU000A0DKVS5    1 198,40    1 185,00   1 069 964 106,00  -1,12 %  -1340
 14  RU0009046452       19830       19750   2 862 666 299,00  -0,40 %    -80
 15  RU000A0JRKT8    3 070,00    3 074,00     191 846 395,00   0,13 %    400
 16  RU000A0JP7J7       59410       58500      63 768 673,00  -1,53 %   -910
 17  JE00B6T5S470    1 663,70    1 646,70   1 587 281 318,00  -1,02 %  -1700
 18  RU000A0J2Q06       43275       43805   3 198 827 065,00   1,22 %    530
 19  RU000A0JPVJ0         170         170     201 212 639,00  -0,26 %      0
 20  RU0008943394        9750        9724     305 652 206,00  -0,27 %    -26
 21  RU000A0JPKH7         078         078     775 157 679,00   0,73 %      1
 22  RU0009029540       27549       27795  18 658 788 745,00   0,89 %    246
 23  RU0009029557       24884       25097   1 822 187 752,00   0,86 %    213
 24  RU0009046510    1 165,80    1 178,40   1 501 653 269,00   1,08 %   1260
 25  RU0008926258        3467        3476   1 018 174 379,00   0,25 %      9
 26  RU0009029524        3929        3897   1 284 973 473,00  -0,81 %    -32
 27  RU0009033591       49760       49550   2 395 592 566,00  -0,42 %   -210
 28  RU0006944147       46890       46770     394 710 061,00  -0,26 %   -120
 29  RU0009091573  142 900,00  143 450,00     219 994 700,00   0,38 %  55000
 30  RU000A0JNGA5         279         280     114 924 260,00   0,29 %      1
 31  RU000A0JP5V6         004         004   1 002 191 544,00   0,07 %      0
 32  NL0009805522    5 066,40    5 179,60   4 239 471 050,00   2,23 %  11320

        Время
 0   19:47:30
 1   19:47:02
 2   19:47:24
 3   19:47:33
 4   19:47:01
 5   19:47:26
 6   19:44:35
 7   19:47:32
 8   19:47:31
 9   19:47:05
 10  19:47:31
 11  19:47:24
 12  19:47:24
 13  19:47:21
 14  19:47:29
 15  19:47:02
 16  19:46:48
 17  19:47:27
 18  19:46:55
 19  19:47:01
 20  19:47:01
 21  19:47:13
 22  19:47:25
 23  19:47:24
 24  19:47:08
 25  19:47:07
 26  19:47:07
 27  19:47:15
 28  19:47:13
 29  19:46:49
 30  19:47:27
 31  19:47:23
 32  19:47:33  ]